@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-color: #264653;
  --layout-padding: 7rem;
  --font-color: #d4ebe9;
  --cards-layout: repeat(auto-fill, minmax(300px, 1fr));
  --layout-for-card: 6rem 18rem 22rem;
  --font: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font-family: var(--font);
  color: var(--font-color);
}

.layout {
  display: grid;
  grid-template-columns: var(--cards-layout);
  gap: 2rem;
  padding: var(--layout-padding);
}

.card {
  display: grid;
  grid-template-rows: var(--layout-for-card);
  align-items: center;
  justify-content: center;
  border: 1px solid #d4ebe938;
  border-radius: 1.4rem;
  padding: 0.4rem;
  box-shadow: 0px 8px 20px -7.8px #00000047;
  opacity: 0.6;
  transition: all ease-in-out 0.4s;
}

.card:hover,
.card:active {
  opacity: 1;
  box-shadow: 0px 8px 20px -2px #00000047;
}

.card__title {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.card__img {
  height: 11rem;
  margin: 0.6rem;
  border-radius: 16px;
  box-shadow: 2px 5px 10px 0px #00000026;
  justify-self: center;
}

.card__summary {
  padding: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.footer {
  padding: 2.6rem 0.6rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  margin: 0 var(--layout-padding);
  border-top: 2px solid #67bd76;
}

#tv-maze-link {
  color: #67bd76;
  border-bottom: 2px solid #67bd75;
  padding-bottom: 0.2rem;
}

#tv-maze-link:hover,
#tv-maze-link:active {
  font-weight: 500;
}
